
input,
select {
  width: 100%;
  padding: 6px 8px;
  background: #fff;
  border: 1px solid #a1a1a1;
  border-radius: 2px;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1),
    0 0 5px 2px rgba(212, 212, 212, 0);
  font-size: var(--fs-small);
  line-height: 16px;
}
/* input:focus {
  border:none;
  outline: none;
}  */
select option:checked{
  --pill-accent: var(--bright-blue);
  background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
}
form{
  display:flex;
  flex-direction: column;
  gap:10px;
}

.pill {
  display: flex;
  align-items: center;
  --pill-accent: var(--bright-blue);
  background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
  color: var(--pill-accent);
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 2.75rem;
  border: 0;
  transition: background 0.3s ease;
  font-family: var(--inter-font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: -0.00875rem;
  text-decoration: none;
  --pill-accent: var(--vivid-pink);
}
.pill:hover {
  background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
}


.form-container{
    position: relative;
    margin: 15px 0;
    padding: 0px!important;
    border: none;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    max-width:700px;
    margin:0 auto;
}
.overlay-grey{
  --pill-accent: var(--bright-blue);
  background: 
color-mix(in srgb, var(--pill-accent) 5%, transparent);
  color: var(--pill-accent);

  position: relative;
  margin-bottom: 15px;
  padding: 15px 30px;
  color: var(--grey-700);
  border: 1px solid #ccc;
  box-shadow: none;
}


label {
  display: block;
  white-space: normal;
  font-size: var(--fs-small);
  line-height: 1.25;
  margin-bottom:7px;
}
.input-group{
  position:relative;
}

input{
  width: 100%;
  padding: 6px 8px;
  background: #fff;
  border: 1px solid #a1a1a1;
  border-radius: 2px;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 5px 2px rgba(212, 212, 212, 0);
  font-size: var(--fs-small);
  line-height: 16px;
}


.hide{
  display:none;
}
.pre{
  text-align: center;

    padding: 7px 0;
    margin:10px 0;
}
.form-title{
  display:flex;
  justify-content: space-between;
  align-items:center;
}
.form-title i{
  margin-left:7px;
}
.submit-btn{
  padding: 10px 15px;
    font-size: 18px;
    border-radius:4px;
    width:100%;
    border:none;
    color: #fff;
    background: var(--bright-blue);
    margin-top:20px;
}


.cancel-btn a{
  text-decoration:none;
}
.submit-btn:hover{
  opacity: 90%;
}

.error{
  border:1px solid var(--hot-red);
}
.alert{
  color:var(--hot-red);
  font-size:var(--fs-xs);
}

.input-group{
  display:flex;
  align-items:start;
  gap:10px;
}
span{
  color:var(--gray-500);
  
}

span.superscript {
  vertical-align: super;
}

.checkbox{
  width:fit-content;
}