<p-toast></p-toast>

<div class="form-container">
  <p-toast></p-toast>
  <div class="overlay-grey">
    <div class="form-title">
      <h2 *ngIf="!isEditMode">
        Add New User<i class="pi pi-user-plus" style="font-size: 1.6rem"></i>
      </h2>
      <h2 *ngIf="isEditMode">
        Edit User<i class="pi pi-user-edit" style="font-size: 1.6rem"></i>
      </h2>

    </div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-group">
        <label for="Fname">
          Fname: <span *ngIf="!isEditMode" [ngClass]="{
            hide:
              !userForm.controls['Fname'].errors &&
              userForm.controls['Fname'].dirty &&
              userForm.controls['Fname'].touched
          }" class="pi pi-asterisk superscript" style="color: var(--gray-500); font-size: var(--fs-xs)">
          </span>
          <div class="input-group">
            <input type="text" formControlName="Fname" [ngClass]="{
              error:
                userForm.controls['Fname'].errors &&
                userForm.controls['Lname'].dirty
            }" />
          </div>
          <div>
            <span *ngIf="userForm.controls['Fname']?.errors?.['minlength'] && userForm.controls['Fname'].dirty
            &&userForm.controls['Fname'].touched" class="alert">
              First name must be at least 3 characters
            </span>
          </div>
        </label>

        <label for="Lname">
          Last name: <span *ngIf="!isEditMode" [ngClass]="{
            hide:
              !userForm.controls['Lname'].errors &&
              userForm.controls['Lname'].dirty &&
              userForm.controls['Lname'].touched
          }" class="pi pi-asterisk superscript" style="color: var(--gray-500); font-size: var(--fs-xs)">
          </span>
          <div class="input-group">
            <input type="text" formControlName="Lname" [ngClass]="{
              error:
                userForm.controls['Lname'].errors &&
                userForm.controls['Lname'].dirty
            }" />
          </div>
          <div>
            <span *ngIf="userForm.controls['Lname']?.errors?.['minlength'] && 
            userForm.controls['Lname'].dirty&&
          userForm.controls['Lname'].touched" class="alert">
              Last name must be at least 4 characters
            </span>
          </div>
          <div>
            <span *ngIf="userForm.controls['Lname']?.errors?.['pattern'] && userForm.controls['Lname'].dirty
            &&userForm.controls['Lname'].touched" class="alert">
              Invalid pattern
            </span>
          </div>
        </label>
            <label for="Phone">
          Mobile number <span *ngIf="!isEditMode" [ngClass]="{
            hide:
              !userForm.controls['Phone'].errors &&
              userForm.controls['Phone'].dirty &&
              userForm.controls['Phone'].touched
          }" class="pi pi-asterisk superscript" style="color: var(--gray-500); font-size: var(--fs-xs)">
          </span>
          <div class="input-group">
            <input type="text" formControlName="Phone" [ngClass]="{
              error:
                userForm.controls['Phone'].errors &&
                userForm.controls['Phone'].dirty
            }" />

          </div>
          <div>
            <span *ngIf="userForm.controls['Phone']?.errors?.['minlength'] && userForm.controls['Phone'].dirty
        &&userForm.controls['Phone'].touched" class="alert">
              Invalid mobile number
            </span>
          </div>
        </label>
        <label for="Email">
          Email <span *ngIf="!isEditMode" [ngClass]="{
            hide:
              !userForm.controls['Email'].errors &&
              userForm.controls['Email'].dirty &&
              userForm.controls['Email'].touched
          }" class="pi pi-asterisk superscript" style="color: var(--gray-500); font-size: var(--fs-xs)">
          </span>
          <div class="input-group">
            <input type="text" formControlName="Email" [ngClass]="{
               error:
                 userForm.controls['Email'].errors &&
                 userForm.controls['Email'].dirty
             }" />

          </div>
          <div>
            <span *ngIf="userForm.controls['Email']?.errors?.['minlength'] && userForm.controls['Email'].dirty
          &&userForm.controls['Email'].touched" class="alert">
              Invalid email
            </span>
          </div>
        </label>
                    
        <label for="Username">
          Username: <span *ngIf="!isEditMode" [ngClass]="{
            hide:
              !userForm.controls['Username'].errors &&
              userForm.controls['Username'].dirty &&
              userForm.controls['Username'].touched
          }" class="pi pi-asterisk superscript" style="color: var(--gray-500); font-size: var(--fs-xs)">
          </span>
          <div class="input-group">
            <input type="text" formControlName="Username" [ngClass]="{
              error:
                userForm.controls['Username'].errors &&
                userForm.controls['Username'].dirty
            }" />

          </div>
        </label>
        <label for="Password" *ngIf="!isEditMode">Password <span>(Min 6 characters)</span>
          <span *ngIf="isEditMode"[ngClass]="{
            hide:
              !userForm.controls['Password'].errors &&
              userForm.controls['Password'].dirty &&
              userForm.controls['Password'].touched
          }" class="pi pi-asterisk superscript" style="color: var(--gray-500); font-size: var(--fs-xs)">
          </span>
          <div class="input-group">
            <input type="text" formControlName="Password" [ngClass]="{
        error:
          userForm.controls['Password'].errors &&
          userForm.controls['Password'].dirty &&
          userForm.controls['Password'].touched
      }" />
          </div>
          <div>
            <span *ngIf="
          userForm.controls['Password'].errors &&
          userForm.controls['Password'].dirty
        " class="alert">
              Password must be at least 6 characters
            </span>
          </div>
          <div>
            <span *ngIf="
          userForm.controls['Password'].errors &&
          userForm.controls['Password'].dirty
        " class="alert">
               Password must include at least 1 upper case, 1 lower case, numeric, and special character
            </span>
          </div>
        </label>
        <select id="RoleId" formControlName="RoleId">
          <option value="" disabled selected >--- Select role--- </option>
          <option value="1">Admin</option>
          <option value="2">Developer</option>
          <option value="3">Manager</option>
          <option value="4">Operator</option>        
        </select>
        <label for="IsActive" *ngIf = "isEditMode" >
         Useri is active
          
            <input type="checkbox" formControlName="IsActive" class="checkbox" />
     
        </label>
        <!-- <div class="pre">
          <p> Form Status: {{userForm.status}}</p>
          
          <p>  {{userForm.value | json}}</p>
        </div> -->
      <button type="submit" class="submit-btn" [disabled]="!userForm.valid">
        Save
      </button>
    </form>
  </div>
</div>

<!-- 

<form [formGroup]="userForm" (ngSubmit)="addUser()">
  <input id="Fname" type="text" formControlName="Fname" placeholder="Enter first name.."
             [ngClass]="{'error': userForm.controls['Fname'].errors && userForm.controls['Fname'].dirty 
             && userForm.controls['Fname'].touched}">
    <span *ngIf="userForm.controls['Fname'].errors && userForm.controls['Fname'].dirty" class="alert">
      Name should be minimum 3 characters
    </span>   
    <input id="Lname" type="text" formControlName="Lname" placeholder="Enter last name.."
    [ngClass]="{'error': userForm.controls['Lname'].errors && userForm.controls['Lname'].dirty 
    && userForm.controls['Lname'].touched}">
<span *ngIf="userForm.controls['Lname'].errors && userForm.controls['Lname'].dirty" class="alert">
Lastname should be minimum 5 characters
</span>   

<input id="Phone" type="text" formControlName="Phone" placeholder="Enter Phone.."
[ngClass]="{'error': userForm.controls['Phone'].errors && userForm.controls['Phone'].dirty 
&& userForm.controls['Phone'].touched}">
<span *ngIf="userForm.controls['Phone'].errors && userForm.controls['Phone'].dirty" class="alert">
Invalid phone number
</span>   

<input id="Email" type="text" formControlName="Email" placeholder="Enter Email.."
[ngClass]="{'error': userForm.controls['Email'].errors && userForm.controls['Email'].dirty 
&& userForm.controls['Email'].touched}">
<span *ngIf="userForm.controls['Email'].errors && userForm.controls['Email'].dirty" class="alert">
Invalid email.
</span>   

      <input id="Username" type="text" formControlName="Username" placeholder="Enter username.."
             [ngClass]="{'error': userForm.controls['Username'].errors && userForm.controls['Username'].dirty 
             && userForm.controls['Username'].touched}">
    <span *ngIf="userForm.controls['Username'].errors && userForm.controls['Username'].dirty" class="alert">
      Username should be minimum 6 symbols
    </span>   
      <input id="Password" type="password" formControlName="Password"  placeholder="Enter password.."
             [ngClass]="{'error': userForm.controls['Password'].errors && userForm.controls['Password'].dirty 
             && userForm.controls['Password'].touched}">
    <span *ngIf="userForm.controls['Password'].errors && userForm.controls['Password'].dirty" class="alert">
      Password must include at least 1 upper case, 1 lower case, numeric, and special character
    </span>
      <select id="RoleId" formControlName="RoleId">
        <option value="" disabled selected >--- Select role--- </option>
        <option value="1">Admin</option>
        <option value="2">Developer</option>
        <option value="3">Manager</option>
        <option value="4">Operator</option>        
      </select>
     
    <button type="submit" class="submit-btn" [disabled]="!userForm.valid">Submit</button>
  </form>
   -->