<style>
  .pill-group {
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.25rem;
    padding:20px 0;
  }

  .pill {
    display: flex;
    align-items: center;
    --pill-accent: var(--bright-blue);
    background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
    color: var(--pill-accent);
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    border-radius: 2.75rem;
    border: 0;
    transition: background 0.3s ease;
    font-family: var(--inter-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    letter-spacing: -0.00875rem;
    text-decoration: none;
  }

  .pill:hover {
    background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
  }

  .pill-group .pill:nth-child(6n + 1) {
    --pill-accent: var(--bright-blue);
  }
  .pill-group .pill:nth-child(6n + 2) {
    --pill-accent: var(--french-violet);
  }
  .pill-group .pill:nth-child(6n + 3),
  .pill-group .pill:nth-child(6n + 4),
  .pill-group .pill:nth-child(6n + 5) {
    --pill-accent: var(--hot-red);
  }

  .pill-group svg {
    margin-inline-start: 0.25rem;
  }

</style>

<div class="pill-group paddings-small">
  <ng-container *ngFor="let item of menuItems; trackBy: trackByTitle">
    <a *ngIf="item.title !== '+ Add task' || (item.title === '+ Add task' && showAddTask)"
    class="pill"
    (click)="handleClick(item, $event)"
  >
      <span>{{ item.title }}</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="14"
        viewBox="0 -960 960 960"
        width="14"
        fill="currentColor"
      >
        <path
          d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
        />
      </svg>
    </a>
  </ng-container>
</div>


<p-table *ngIf="showTasks"
  #dt2
  [value]="tasks"
  dataKey="id"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="isLoading"
  [paginator]="true"
  [globalFilterFields]="['Name', 'Description', 'UserFullName', 'Status', 'Level', 'DueDate']"
  [tableStyle]="{ 'min-width': '75rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Task</th>
      <th>Description</th>
      <th>Assignee</th>
      <th>Stage</th>
      <th>Priority</th>
      <th>Due date</th>
      <th></th>
    </tr>
    <tr>
      <th>
        <p-columnFilter
          type="text"
          field="Name"
          placeholder="Search by task"
          ariaLabel="Filter Task"
        />
      </th>
      <th>
        <p-columnFilter
          type="text"
          field="Description"
          placeholder="Search by description"
          ariaLabel="Filter Description"
        />
      </th>
      <th>
        <p-columnFilter
          type="text"
          field='UserFullName'
          placeholder="Search by username"
          ariaLabel="Filter Username"
        />
      </th>
      <th>
        <p-columnFilter
          type="text"
          field="Status"
          placeholder="Search by stage"
          ariaLabel="Filter Stage"
        />
      </th>
      <th>
        <p-columnFilter
          type="text"
          field="Level"
          placeholder="Search by level"
          ariaLabel="Filter Level"
        />
      </th>
      <th>
        <p-columnFilter
          type="text"
          field="DueDate"
          placeholder="Search by due date"
          ariaLabel="Filter Due Date"
        />
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task>
    <tr>
      <td>{{ task.Name }}</td>
      <td>{{ task.Description }}</td>
      <td>{{ task.User?.Fname }}</td>
      <td>{{ getStatusName(task.Status) }}</td>
      <td>
        <p-tag
          [value]="getLevelName(task.Level)"
          [severity]="getSeverity(task.Level)"
        ></p-tag>
      </td>
      <td>{{ task.DueDate | date: 'yyyy-MM-dd' }}</td>
      <td>
        <button 
            type="button" 
            pButton 
            pRipple 
            icon="pi pi-pen-to-square" 
            (click)="openTaskDialog(task)"
            [disabled]=" getStatusName(task.Status) === 'InProgress'">
        </button>
    </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">No tasks found.</td>
    </tr>
  </ng-template>
</p-table>



<p-table *ngIf="showReports"
  #dt2
  [value]="reports"
  dataKey="id"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="isLoading"
  [paginator]="true"
  [globalFilterFields]="['Fname', 'Lname', 'Username']"
  [tableStyle]="{ 'min-width': '75rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th class="fit-content">Fname</th>
      <th class="fit-content">Lname</th>
      <th class="fit-content">Username</th>
      <th class="fit-content">Completed</th>
      <th class="fit-content">New</th>
      <th class="fit-content">InProgress</th>
      <th class="fit-content">Overdue</th>
    </tr>
    <tr>
      <th>
        <p-columnFilter
          type="text"
          field="FName"
          placeholder="Search by fname"
          ariaLabel="Filter name"
        />
      </th>
      <th>
        <p-columnFilter
          type="text"
          field="Lname"
          placeholder="Search by lname"
          ariaLabel="Filter by lname"
        />
      </th>
      <th>
        <p-columnFilter
          type="text"
          field='Username'
          placeholder="Search by username"
          ariaLabel="Filter Username"
        />
      </th> 
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-report>
    <tr>
      <td>{{report.Fname}} </td>
      <td>{{report.Lname}}</td>
      <td>{{report.Username}}</td>
      <td>{{report.CompletedTasks}}</td>
      <td>{{ report.NewTasks}}</td>
      <td>{{report.InProgressTasks}}</td>
      <td>{{report.OverdueTasks}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">No users/reports found.</td>
    </tr>
  </ng-template>
</p-table>



