<!-- <div *ngIf="isLoggedIn$|async" class="user-greeting border-bottom paddings-small">  -->
  <div class="user-greeting border-bottom paddings-small"> 
    <ng-container *ngIf="userRole$| async as userRole">    
      <div class="page-title">
        <h2> Hello, {{username}}</h2>
      </div>
      <div class="greeting-txt">       
        <span (click)="routeBasedOnUserRole()">           
           {{ userRole }}
        </span>
        <button class="logout">        
          <a routerLink="/" (click)="logout()"> Logout <span class="pi pi-sign-out"></span>
          </a>
      </button>
      </div>  
    </ng-container>
  </div>

  