.user-greeting{
    display:flex;
    align-items:center;
    justify-content: space-between;
    align-items:center;
}
.greeting-txt span{
    color:var(--vivid-pink);
    cursor: pointer;
    font-size:var(--fs-m);
}
.page-title{
  display:flex;
  align-items:center;
  color:var(--gray-600);
}
.logout a {
    font-size: var(--fs-small);
    text-decoration: none;
    color:var(--grey-600);    
    display: flex;
    align-items: center;
    gap: 7px;
    font-size:var(--fs-m);
  }
  
  .logout{    
    --pill-accent: var(--bright-blue);
    background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
    color: var(--pill-accent);
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    border-radius: 2.75rem;
    border: 0;
    transition: background 0.3s ease;    
    line-height: 1.4rem;
    letter-spacing: -0.00875rem;
    text-decoration: none;
    margin-left:17px;
  }
  .logout:hover {
    background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
  }

  