<style>
  .pill-group .pill:nth-child(6n + 1) {
    --pill-accent: var(--vivid-pink);
  }
  .pill-group .pill:nth-child(6n + 3) {
    --pill-accent: var(--bright-blue);
  }
  
  .pill-group svg {
    margin-inline-start: 0.25rem;
  }

</style>

<p-toast></p-toast>

<div class="paddings-small">
  <button class="pill" (click)="openUserDialog()">
    <a><span class="pi pi-user-plus"></span> Add User</a>
  </button>
  <div class="users-table">
    <p-table
      #dt1
      [value]="users"
      dataKey="id"
      [rows]="5"
      [rowsPerPageOptions]="[5, 15, 30]"
      [loading]="loading"
      [paginator]="true"
      [globalFilterFields]="['Fname', 'Lname', 'Username', 'Email', 'Phone', 'Role.Name', 'IsActive']"      >
      
      <ng-template pTemplate="header">
          <tr>
              <th>
                  <div>
                      Fname
                      <p-columnFilter type="text" field="Fname" display="menu" />
                  </div>
              </th>
              <th>
                  <div>
                      Lname
                      <p-columnFilter type="text" field="Lname" display="menu" />
                  </div>
              </th>
              <th>
                <div>
                    Username
                    <p-columnFilter type="text" field="Username" display="menu" />
                </div>
            </th>
            <th>
              <div>
                  Email
                  <p-columnFilter type="text" field="Email" display="menu" />
              </div>
          </th>
          <th>
            <div>
                Phone
                <p-columnFilter type="text" field="Phone" display="menu" />
            </div>
        </th>
            <th>
              <div>
                  Role
                  <p-columnFilter type="text" field="Role.Name" display="menu" />
              </div>
          </th>
          <th>
            <div>
                Status
                <p-columnFilter type="text" field="IsActive" display="menu" />
            </div>
        </th>
          <th>
            <div>
                Actions
            </div>
        </th>
           
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
          <tr [ngClass]="{'disabled':user.IsActive=== false} ">
              <td>
                  {{ user.Fname }}
              </td>    
              <td>                 
                <span>{{ user.Lname }}</span>
            </td>
            <td>                 
              <span>{{ user.Username }}</span>
            </td>
            <td>                 
              <span>{{ user.Email}}</span>
            </td>
            <td>                 
              <span>{{ user.Phone}}</span>
            </td>
            <td>                 
              <span>{{ user.Role?.Name}}</span>
            </td>
            <td >                 
              <span>{{ user.IsActive?'Active':'InActive'}}</span>
            </td>
            <td class="pill-group">
              <button class="pill" (click)="openUserDialog(user)"> Edit</button>
              <button class="pill" (click)="deleteUser(user)"> Delete</button>
            </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td>No users found.</td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>
