
.task-container {  
    margin: 0 auto;
    padding:0 30px;
    border-radius: 8px;
}

.task-field {
   display:grid;
   grid-template-columns: .8fr 2fr;
   margin-bottom:30px;
}

.task-field label {
    font-weight: bold;
    color:var(--bright-blue);
    display: block;
    
}

.task-data {
   
    padding: 8px 12px;
    border-radius: 4px;
}


.task-data:not(:empty) {
    box-shadow: 2px 2px 2px 1px rgba(37, 92, 202, 0.2);
    padding: 8px 12px;
    border-radius: 4px;
}

.action-buttons{
    display:flex;
    gap:10px;
}