<div class="task-container">
    <div class="task-field">
        <label for="name">Task Name:</label>
        <div id="name" class="task-data">
            {{this.task.Name}}
        </div>
    </div>
    <div class="task-field">
        <label for="description">Description:</label>
        <div id="description" class="task-data">
            {{this.task.Description}}
        </div>
    </div>
       <div class="task-field">
        <label for="status">Status:</label>
        <div id="status" class="task-data">
            {{ getStatusName(task.Status) }}
        </div>
    </div>
    <div class="task-field">
        <label for="level">Level:</label>
        <div id="level" class="task-data">
            {{this.task.Level}}
        </div>
    </div>
    <div class="task-field">
        <label for="createdate">Create Date:</label>
        <div id="createdate" class="task-data">
            {{this.task.CreateDate | date: 'yyyy-MM-dd'}}
        </div>
    </div>
    <div class="task-field">
        <label for="modifydate">Modify Date:</label>
        <div id="modifydate" class="task-data">
            {{this.task.ModifyDate |date: 'yyyy-MM-dd'}}
        </div>
    </div>
    <div class="task-field">
        <label for="duedate">Due Date:</label>
        <div id="duedate" class="task-data">
            {{this.task.DueDate |date: 'yyyy-MM-dd'}}
        </div>
    </div>
    <div class="task-field">
        <label for="finishdate">Finish Date:</label>
        <div id="finishdate" class="task-data">
            {{this.task.FinishDate}}
        </div>
    </div>
</div>
