
.task-container {  
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.task-field {
    margin-bottom: 10px;
}

.task-field label {
    font-weight: bold;
    color:var(--bright-blue);
    display: block;
    margin-bottom: 5px;
}

.task-data {
    background-color: var(--vivid-pink);
    padding: 8px 12px;
    border-radius: 4px;
}
.task-field label:empty{
    color:var(--vivid-pink);
}
.task-data:empty{
    background-color: var(--vivid-pink);
}
.task-data:not(:empty) {
    background-color: var(--gray-300);
    padding: 8px 12px;
    border-radius: 4px;
}
