.card p {
    margin: 10px 0;
}

.card strong {
    display: block;
    color: var(--electric-violet);
}

.card p {
    color: var(--french-violet);
}

.card-title {
    color: var(--vivid-pink);
    font-size: 1.5em;
    margin-bottom: 10px;
}