<p-toast></p-toast>

<div class="task-container">
    <div class="task-field">
        <label for="name">Task Name:</label>
        <div id="name" class="task-data">
            {{this.task.Name}}
        </div>
    </div>
    <div class="task-field">
        <label for="description">Description:</label>
        <div id="description" class="task-data">
            {{this.task.Description}}
        </div>
    </div>
       <div class="task-field">
        <label for="status">Status:</label>
        <div id="status" class="task-data">
            {{ getStatusName(task.Status) }}
        </div>
    </div>
    <div class="task-field">
        <label for="level">Level:</label>
        <div id="level" class="task-data">
            {{getLevelName(task.Level)}}
        </div>
    </div>
    <div class="task-field">
        <label for="createdate">Create Date:</label>
        <div id="createdate" class="task-data">
            {{this.task.CreateDate | date: 'yyyy-MM-dd'}}
        </div>
    </div>
    <!-- <div class="task-field">
        <label for="modifydate">Modify Date:</label>
        <div id="modifydate" class="task-data">
            {{this.task.ModifyDate |date: 'yyyy-MM-dd'}}
        </div>
    </div> -->
    <div class="task-field">
        <label for="duedate">Due Date:</label>
        <div id="duedate" class="task-data">
            {{this.task.DueDate |date: 'yyyy-MM-dd'}}
        </div>
    </div>
   

    <div class="task-field">
        <label for="Status"> Start Task:</label>
        <input type="checkbox" [checked]="task.Status === 2" 
               [disabled]="task.Status === 2 || task.Status === 3 || task.Status" 
               (change)="startTask(task)">
    </div>
    
    <div class="action-buttons">
        <button 
        type="button" 
        pButton 
        pRipple 
        icon="pi pi-pen-to-square" 
        (click)="openTaskDialog(task)"
        [disabled]=" task.Status === 1">
    </button>

    <button type="button"
    pButton 
    pRipple 
     (click)="deleteTask(task)" [disabled]="task.Status === 1" class="delete-btn"
    icon="pi pi-trash"></button>
    </div>

</div>
